node_modules/
*.apk
지시메모.txt
icon/

android/local.properties
android/keystore.properties
android/app/manga-release-key.jks

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/release/
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
