node_modules/
만화책뷰어.apk

android/local.properties
android/keystore.properties
android/app/manga-release-key.jks

android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/app/release/
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
